
[

;; Our test graph is going to be v[name:Marko]-[:knows]->v[name:Stephen]

;; First, we need to create the definitions for property type 'name' on vertices

{
    :db/id #db/id[:db.part/user -1000001]
    :graph.element/type :graph.element.type/vertex
    :graph.element/id #uuid "550e8400-e29b-41d4-a716-446655440000"
    :name.string.vertex "Marko" }

{
    :db/id #db/id[:db.part/user -1000002]
    :graph.element/type :graph.element.type/vertex
    :graph.element/id #uuid "550e8400-e29b-41d4-a716-446655440001"
    :name.string.vertex "Stephen" }

{
    :db/id #db/id[:db.part/user -1000003]
    :graph.element/type :graph.element.type/edge
    :graph.element/id #uuid "550e8400-e29b-41d4-a716-446655440002"
    :graph.edge/label "knows"
    :graph.edge/outVertex #db/id[:db.part/user -1000001]
    :graph.edge/inVertex #db/id[:db.part/user -1000002] }
]

